body{
	background-color: black;
	color: white;
	font-family: sans-serif;
}

.container{
	display: inline-block;
}

.container-left{
	float: left;
}

.container-right{
	float: right;
	text-align: right;
}

.widget{
	margin-bottom: 25px;
}

#time{
	font-size: 62px;
}

/*
#hour-min{
	font-size: 62px;
}

#seconds{
	font-size: 40px;
}
*/
#period{
	font-size: 26px;
}

#date{
	font-size: 26px;
}

#reminders-label-div{
	margin-bottom: 4px;
	font-size: 18px;
}

#reminders-entries{
	border-top: 1px solid rgba(255, 255, 255, .4);
	padding-top: 10px;
}

.reminder-entry{
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.event-name{
	display: inline-block;
	font-weight: bold; 
	width: 200px;
}

.event-date{
	float: right;
	margin-left: 20px;
}

#city{
	font-size: 28px;
}

#weather-icon{
	vertical-align: middle;
}

#temperature{
	font-size: 50px;
	vertical-align: middle;
}

#conditions{
	font-size: 22px;
}

.forecast-table{
	border-top: 1px solid rgba(255, 255, 255, .4);
	border-bottom: 1px solid rgba(255, 255, 255, .4);
	border-collapse: collapse;
	border-spacing: 0;
}

.forecast-table td{
	border-left: 1px solid rgba(255, 255, 255, .1);
	border-right: 1px solid rgba(255, 255, 255, .1);
	text-align: center;
	padding: 4px;
	margin: 0;
	font-size: 17px;
}

.weather-label{
	float: left;
	font-size: 18px;
	margin-bottom: 4px;
}


