<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SmartMirror</title>

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
	<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.2.1.js') }}"></script>
	<script type=text/javascript src="{{url_for('static', filename='js/display.js') }}"></script>
</head>

<body>
	<div class="container container-left" id="clock">
		<div class="widget" id="date-time">
			<div id="time-period">
				<label id="time"></label>
				<!--<label id="hour-min"></label>
				<label id="seconds"></label>-->
				<label id="period"></label>
			</div>
			<div id="date">
				<label id="dayofweek"></label>
				<label id="month-day"></label>
			</div>
		</div>
		<div class="widget" id="reminders-list">
			<div id="reminders-label-div">
			<label id="reminders-label">Reminders</label>
			</div>
			<div id="reminders-entries">
				<div class="reminder-entry" id="reminder-entry-0">
					<label class="event-name" id="event-name-0"></label>
					<label class ="event-date" id="event-date-0"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-1">
					<label class="event-name" id="event-name-1"></label>
					<label class ="event-date" id="event-date-1"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-2">
					<label class="event-name" id="event-name-2"></label>
					<label class ="event-date" id="event-date-2"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-3">
					<label class="event-name" id="event-name-3"></label>
					<label class ="event-date" id="event-date-3"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-4">
					<label class="event-name" id="event-name-4"></label>
					<label class ="event-date" id="event-date-4"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-5">
					<label class="event-name" id="event-name-5"></label>
					<label class ="event-date" id="event-date-5"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-6">
					<label class="event-name" id="event-name-6"></label>
					<label class ="event-date" id="event-date-6"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-7">
					<label class="event-name" id="event-name-7"></label>
					<label class ="event-date" id="event-date-7"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-8">
					<label class="event-name" id="event-name-8"></label>
					<label class ="event-date" id="event-date-8"></label>
				</div>
				<div class="reminder-entry" id="reminder-entry-9">
					<label class="event-name" id="event-name-9"></label>
					<label class ="event-date" id="event-date-9"></label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container container-right" id="weather">
		<div class="widget" id="current-weather" >
			<label id="city"></label>
			<div id="icon-temp">
				<img id="weather-icon">
				<label id="temperature"></label>
			</div>
			<div>
				<label id= "conditions"></label>
			</div>
		</div>
		<div class="widget" id="hourly-forecast">
			<div>
			<label class="weather-label" id="hourly-label">Hourly</label>
			</div>
			<table class="forecast-table" id="hourly-table">
				<tr id='hourly-times'>
					<td id="hourly-time-0"></td>
					<td id="hourly-time-1"></td>
					<td id="hourly-time-2"></td>
					<td id="hourly-time-3"></td>
					<td id="hourly-time-4"></td>
					<td id="hourly-time-5"></td>
				</tr>
				<tr id='hourly-icons'>
					<td><img id="hourly-icon-0"></td>
					<td><img id="hourly-icon-1"></td>
					<td><img id="hourly-icon-2"></td>
					<td><img id="hourly-icon-3"></td>
					<td><img id="hourly-icon-4"></td>
					<td><img id="hourly-icon-5"></td>
				</tr>
				<tr id="hourly-temps">
					<td id="hourly-temp-0"></td>
					<td id="hourly-temp-1"></td>
					<td id="hourly-temp-2"></td>
					<td id="hourly-temp-3"></td>
					<td id="hourly-temp-4"></td>
					<td id="hourly-temp-5"></td>
				</tr>
			</table>
		</div>
		<div class="widget" id="daily-forecast">
			<div>
			<label class="weather-label" id="daily-label">Daily</label>
			</div>
			<table class="forecast-table" id="daily-table">
				<tr id= 'daily-dayofweek'>
					<td id="daily-dayofweek-0">Today</td>
					<td id="daily-dayofweek-1"></td>
					<td id="daily-dayofweek-2"></td>
					<td id="daily-dayofweek-3"></td>
					<td id="daily-dayofweek-4"></td>
					<td id="daily-dayofweek-5"></td>
				</tr>
				<tr id='daily-icons'>
					<td><img id="daily-icon-0"></td>
					<td><img id="daily-icon-1"></td>
					<td><img id="daily-icon-2"></td>
					<td><img id="daily-icon-3"></td>
					<td><img id="daily-icon-4"></td>
					<td><img id="daily-icon-5"></td>
				</tr>
				<tr id='daily-highs'>
					<td id="daily-high-0"></td>
					<td id="daily-high-1"></td>
					<td id="daily-high-2"></td>
					<td id="daily-high-3"></td>
					<td id="daily-high-4"></td>
					<td id="daily-high-5"></td>
				</tr>
				<tr id="daily-lows">
					<td id="daily-low-0"></td>
					<td id="daily-low-1"></td>
					<td id="daily-low-2"></td>
					<td id="daily-low-3"></td>
					<td id="daily-low-4"></td>
					<td id="daily-low-5"></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>